<div class="row col-md-12 text-center mt-3 mb-1">
  <h2 class="mb-3">The Pawn Simulator</h2>

  <%= render 'test_cases' %>

  <%= render 'pawn_board' %>
</div>

<script>
  window.addEventListener("load", function () {
    call();
  });

  function call() {
    let firstValue = [];
    let lastValue = [];

    function addDotToSquare(id, facing) {
      const square = document.getElementById(id);

      const dot = document.createElement("div");
      dot.classList.add("dot");
      if (firstValue[0] === id) {
        dot.classList.add("start");
      } else if (lastValue[0] === id) {
        dot.classList.add("finished");
      }

      square.innerHTML = "";
      square.appendChild(dot);

      const arrow = document.createElement("i");
      arrow.classList.add("arrow");
      arrow.classList.add(facing);
      if (firstValue[0] === id) {
        arrow.classList.add("start");
      } else if (lastValue[0] === id) {
        arrow.classList.add("finished");
      }
      dot.appendChild(arrow);
    }

    function movePawn(datas) {
      firstValue = datas[0];
      lastValue = datas[datas.length - 1];

      for (const data of datas) {
        addDotToSquare(data[0], data[1]);
      }
    }

    const movementSequence = <%= raw @cordinates.to_json %>;

    movePawn(movementSequence);
  };

  testCases = [
      `PLACE 0,0,SOUTH,WHITE\nRIGHT\nMOVE 2\nLEFT\nMOVE 3\nRIGHT\nMOVE 1\nREPORT`,
      `PLACE 2,3,WEST,BLACK\nLEFT\nMOVE\nMOVE\nRIGHT\nMOVE\nREPORT`,
      `PLACE 3,1,SOUTH,BLACK\nMOVE 2\nRIGHT\nMOVE 3\nLEFT\nREPORT`,
      `PLACE 1,1,EAST,WHITE\nMOVE\nMOVE\nLEFT\nMOVE\nREPORT`,
      `PLACE 4,4,WEST,BLACK\nMOVE 2\nMOVE\nLEFT\nMOVE\nRIGHT\nMOVE\nREPORT`,
      `PLACE 3,2,SOUTH,WHITE\nLEFT\nMOVE\nRIGHT\nMOVE 2\nREPORT`,
      `PLACE 1,2,east,WHITE\nLEFT\nMOVE 2\nRIGHT\nMOVE 2\nMOVE\nleft\n move\nmove\nright\nmove\nREPORT`,
      `PLACE 2,3,north,WHITE\nright\nMOVE 2\nleft\nMOVE\nMOVE\nright\n move\nmove\nREPORT`,
      `PLACE 6,7,south,black\nMOVE 2\nright\nMOVE\nMOVE\nleft\n move\nmove\nREPORT`,
      `PLACE 0,0,NORTH,WHITE\nMOVE 1\nREPORT\nPLACE 6,7,south,black\nMOVE 2\nright\nMOVE\nMOVE\nleft\n move\nmove\nREPORT`
    ];

  buttons = document.querySelectorAll('button[id^="testCase"]');

  buttonEvents();

  function buttonEvents() {
    buttons.forEach((button, index) => {
      button.addEventListener("click", () => {
        handleButtonClick(index);
      });
    });
  }

  function handleButtonClick(index) {
    let text_field = document.getElementById("commands");
    let testCase = testCases[index];
    text_field.value = testCase;
  }

  // Reattach the event listeners after a Turbo navigation
  document.addEventListener("turbo:load", () => {
    call();
    buttonEvents();
  });
</script>
