.square {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
}

.grey {
  background-color: #D3D3D3;
}

.black {
  background-color: #222;
}

.white {
  background-color: #fff;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #222;
  position: absolute;
  margin: 25px 0 0 20px;  
}
.dot.start {
  background-color: red !important;
}

.dot.finished {
  background-color: green !important;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
}
.arrow.start {
  border-color: red !important;
}

.arrow.finished {
  border-color: green !important;
}

.right, .east {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 10px;
}

.left, .west {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: 1px 0px 0px -20px;
}

.up, .north {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: -12px 0px 0px -5px;
}

.down, .south {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 15px 0px 0px -4px;
}
.output {
  text-align: left;
}
h2 pre {
  display: inline;
}
.test-case {
  display: inline-flex;
}
.test-btn {
  margin: 10px 0px;
}
.mt-25 {
  margin-top: 25px;
}